.image {
    width: 25%;
    margin-top: -30px;
    border: none;
    background-color: rgb(0, 0, 255, 0.8);
    webkit-box-shadow: 2px 2px 3px -1px rgba(0, 0, 0, 0.35);
}
@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap");

.card-title {
    margin-top: -12%;
    margin-left: 25%;
    padding-left: 10px;
    padding-bottom: 20px;
    font-family: "Orelega One", cursive;
    font-weight: bold;
}
.tombol {
    float: right;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.text {
    font-size: 30px;
    font-family: "Orelega One", cursive;
    text-align: center;
    font-weight: bold;
}
