.judul {
    text-align: center;
    font-size: 70px;
    font-family: "Dela Gothic One", cursive;
    background: -webkit-linear-gradient(10deg, blue, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.teks {
    text-align: center;
    font-size: 60px;
    margin-top: 110px;
    font-family: "Londrina Solid", cursive;
}
.selamat {
    font-size: 20px;
}
h5 {
    font-size: 20px;
}
