.form2 {
    overflow: hidden;
    font-family: "Merriweather", serif;
}
label {
    font-size: 25px;
}
input {
    width: 85%;
    border: none;
    background: none;
    border-radius: 4px;
    box-sizing: border-box;
    float: right;
    font-size: 50px;
    outline: none;
}
.tabel {
    text-align: center;
}
